
body{
    border: 2px solid black;
}

td{
    border: 2px solid black;
}

.name{
    width: 150px;
    border: 2px white;
    background-color: black;
    font-size: 20px;
}

.nav{
    background-color: black;
}

.navicon{
    background-color: black;
    font-size: 20px;
}

.a{
    text-decoration: none;
    color: white;
    margin: 30px;
}

.icon{
    background-color: black;
    
}

.table1{
    
    height: 70px;
    color: white;
    width: 100%;
}

.img1{
    width: 100%;
}


.title{
    font-size: 40px;
    border: 2px solid black;
    margin: 3px;
}
.main{
  
    width: 100%;
}
.Cycle{
    object-fit: cover;
    width: 100%;
}
.price{
    
}

.pbtn{
    width: 100%;

   
   
}

.button{
    width: 100%;
    height: 50px;

}

.btn{
    margin-left: 50%;
    height: 30px;
    width:90px ;
}

.bcat{
    width: 100%;
}

.category{
    width: 100%;
  
   
}

.acctable{

    width: 100%;

}
.accbody{


}
.acc{

}


.accimg1{
  width: 25%;
    
}
.accimg2{
    width: 25%;
   
}

.shop{
    margin-left: 50%;
    font-size: 30px;
    font-weight: 600;
    font-size: 20px;
    font-weight: 800;
    
}


